body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 30px;
}
p {
    font-size: 20px;
}
.orange-color {
    color: orange;
}
.flexible {
    display: flex;
    padding: 0% 5%;
    margin-bottom: 100px;
}

.half-width {
    width: 45%;
    margin: 0% 2.5%;
}
.half-width img {
    width: 100%;
}
.link-btn {
    text-decoration: none;
    padding: 10px 40px;
    background-image: linear-gradient(salmon, orange);
    color: white;
    border-radius: 10px;
}
.top-banner {
    background-image: url(./images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big {
    background-image: url(./images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-area{
    box-shadow: 10px 5px 50px black;
    width: 42%;
    margin: 4% 4%;
    padding: 5px;
}
.experiences {
    background-image: url(./images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: center left;
}
#full-stack-developer{
    border-left: 10px solid tomato;
}
#baby-web-developer{
    border-left: 10px solid blue;
}
footer p {
    text-align: center;
}